@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="graphics-container-main">
  <div class="graphic-container">
    <h2>Cantidad de Empleados por Especialidad</h2>
    <div>
      <canvas id="graficoEspecialidad"></canvas>
    </div>
  </div>
  
  <div class="graphic-container">
    <h2>Distribución de Pacientes por Grupo Etario</h2>
    <div>
      <canvas id="graficoPaciente"></canvas>
    </div>
  </div>
</div>

@section Scripts {
    <script src="~/js/home.js"></script>
}
