@{
    ViewData["Title"] = "Home Page";
}

<div>
  <canvas id="graficoEspecialidad"></canvas>
</div>

<div>
  <canvas id="graficoPaciente"></canvas>
</div>

@section Scripts {
    <script src="~/js/home.js"></script>
}
