<div class="d-grid gap-2 d-md-block">
    <button type="submit" class="btn btn-success" onfocus="false">
        <i class="fa-solid fa-square-plus"></i>
        Agregar
    </button>
    <a asp-action="Index" class="btn btn-secondary">
        <i class="fa-solid fa-arrow-left"></i>
        Regresar
    </a>
</div>